@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

/* Leaflet map layers */
.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 10 !important;  
}

header {
  z-index: 50 !important;
}

html,
body,
#root {
  font-family: "Nunito Sans", sans-serif;
}

